name: CI

on:
  push:

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Compile
        run: npm run compile

      - name: Lint
        run: npm run lint

      - name: Run Tests (Linux)
        if: runner.os == 'Linux'
        run: |
          /usr/bin/Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 &
          export DISPLAY=':99.0'
          npm test

      - name: Run Tests (macOS)
        if: runner.os == 'macOS'
        run: npm test

      - name: Run Tests (Windows)
        if: runner.os == 'Windows'
        run: npm test
